
/*Estilo definido para quitar margenes o padding puestos por el navegador*/
* {
    margin:0;
    padding:0;
}

/*--------Estilos aplicados a elementos HTML--------*/
img {
    width:32px;
    height:32px;
    margin-left: 10px;
}

/*--------Se definen estilos para las diferentes partes de una layout HTML--------*/

html,body{
    min-width:calc(100vw-16px);
    min-height:calc(100vh-16px);
}

header {
    padding-top:3vh;
    overflow:auto;
    background-color:rgb(243, 243, 243);
    border-bottom: 2px solid rgb(0, 0, 0); 
    text-align:left;
}

footer {
    background-color:rgb(243, 243, 243);
    border-top: 2px solid rgb(0, 0, 0); 
    padding-top:3vh;
    padding-bottom:2vh;
    text-align:center;
}

/*--------Estilo aplicado a elementos con identificador--------*/

#principal {
    min-height:100vh;
    padding-top:50vh;
    background-image:url(images/background.jpg);
    background-size:cover;
    text-align:center;
       
}

#principal div{
    margin-bottom:2vh;
}

#titular{
    font-size:50px;
    color:whitesmoke;
}
#descripcion{
    font-size:20px; 
    color:whitesmoke;  
}

#llamadadeaccion{
    font-size:20px;
}

#container{
    padding-top:10vh;
    background-color: black;
    min-height:60vh;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#container h2{
    font-size:40px;
    color:white;
    padding-bottom:10vh;
}

#containercard {
    display:flex;
    justify-content:space-between;
}

/*--------Clases definidas--------*/

div.card {
    width:30%;
    display:inline-block;
    border:1px solid white;
}

div.card p {
    font-family:courier;
    color:white;
}

div.card h3{
    color:white;
    font-size:20px;
    padding-bottom:1vh;
    font-family:courier;     
}