
/*Estilo definido para quitar margenes o padding puestos por el navegador*/
* {
    margin:0;
    padding:0;
}

/*--------Estilos aplicados a elementos HTML--------*/
img {
    width:32px;
    height:32px;
    
}

/*--------Se definen estilos para las diferentes partes de una layout HTML--------*/

html,body{
    min-width:calc(100vw-16px);
    min-height:calc(100vh-16px);
}

body{
    /*Definido para que el footer esté pegado al borde de la página*/
    display:flex;
    flex-direction:column;
}

header {
    min-width:100vw; /*Definido para que el header siempre se muestre*/
    position:fixed; /*Definido para que el header siempre se muestre*/
    top:0;
    z-index:1; /*Usado para que, ante transformaciones de cards o reviews, el header siga sobreponiendose*/
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgb(243, 243, 243);
}

footer {
    margin-top:auto; /*Definido para que el footer esté pegado al borde de la página*/ 
    min-height:5vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(243, 243, 243);
    border-top: 2px solid rgb(0, 0, 0); 

}

/*--------Estilo aplicado a elementos con identificador--------*/

#identidadempresa{
    display:flex;
    align-items:center;
}

#menunavegacion{
    
    display:flex;
    align-items:stretch; /*Para que los enlaces ocupe todo lo largo de la barra de navegación*/
    text-align:center; /*Centrar el texto de los enlaces*/
    padding-right:1vw; 
}

#menunavegacion ul {
    list-style-type:none;
    display:flex; /*Para que los enlaces se alineen horizontalmente*/
}

#menunavegacion li {
    flex-grow:1;
}

#menunavegacion a {
    margin:0;
    display:block; /*Para que los enlaces sean bloques*/
    color:black;
    padding:10px; 
    text-decoration:none;
}

#menunavegacion a:hover{
    transition-duration: 0.5s;
    background-color:black;
    color:white;
}


@keyframes inicio {
    from{opacity:0%;}
    to{opacity:100%;}
}

#principal {

    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    min-height:100vh;
    background-image:url(images/background.jpg);
    background-size:cover;       
}

#principal div{
    opacity:100%;
    margin-bottom:1rem;
    animation-name:inicio;
    animation-duration:5s;
}

#titular{
    font-size:3rem;
    color:whitesmoke;
}
#descripcion{
    font-size:2rem; 
    color:whitesmoke;  
}

#llamadadeaccion{
    animation-name:inicio;
    animation-duration:2s;
    font-size:1.5rem;
}

#llamadadeaccion:hover{
    transition-duration:0.5s;
    color:white;
    background-color:#0e0c15;
    
}

#containercards, #containerreviews{
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;
    background-color: black;
    color:white;
    min-height:20rem;
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    column-gap:20px;
}

#containerreviews {
    background-color:#0e0c15;
    font-family:courier;
    text-align:center;
}


#containercards h2{
    font-family:courier;
    font-size:2rem;
    grid-column: 1 / -1;
    align-self:center;
    text-align:center;
}

#containerreviews h2{
    font-family:courier;
    font-size:2rem;
    grid-column: 1 / -1;
    align-self:center;
    text-align:center;
}

#review_persona {
    grid-column: 1 / -1;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-bottom:1vh;
}

#review_persona img {
    border-radius:50%;
    padding-right:10px;
}



/*--------Clases definidas--------*/

div.card {
    display:grid;
    background-color:black;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    border:1px solid white;
    border-radius:40px;
}

div.card p {
    grid-row-start:2;
    text-align:center;
    font-family:courier;
}

div.card h3{
    grid-column: 1 / -1;
    align-self: center;
    text-align: center;
    padding-bottom:1vh;
    font-family:courier;     
}

div.card:hover{
    transition-duration:0.5s;
    transform: perspective(100rem) translateZ(10rem);
}

div.review{
    background-color:white;
    color:black;
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    border-radius:20px;
    padding:10px;
}

div.review:hover {
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.7);
    transition-duration:0.5s;
    transform: translateY(-3%);
}
/*-------- Media Queries --------*/


@media screen and (max-width:550px) {
    #containercards, #containerreviews {
        padding-top:40px;
        display:grid;
        row-gap:20px;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
    }
 
    header {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
   
}
