
/*Estilo definido para quitar margenes o padding puestos por el navegador*/
* {
    margin:0;
    padding:0;
}

/*--------Estilos aplicados a elementos HTML--------*/
img {
    width:32px;
    height:32px;
    
}

/*--------Se definen estilos para las diferentes partes de una layout HTML--------*/

html,body{
    min-width:calc(100vw-16px);
    min-height:calc(100vh-16px);
}

header {
    min-height:5vh;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:rgb(243, 243, 243);
    border-bottom: 2px solid rgb(0, 0, 0); 
}

@media screen and (max-width:460px) {
    
    header {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
   
}

footer {
    min-height:5vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(243, 243, 243);
    border-top: 2px solid rgb(0, 0, 0); 

}

/*--------Estilo aplicado a elementos con identificador--------*/

#identidadempresa{
    display:flex;
    align-items: center;
}

#menunavegacion{
    text-decoration:none;
    display:flex;
    align-items:center;
    padding-right:1vw;
}

#menunavegacion li {
    display:inline;
    padding-right:1svw;
}

#menunavegacion a {
    color:black;
    text-decoration:none;
}


#principal {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    min-height:100vh;
    background-image:url(images/background.jpg);
    background-size:cover;       
}

#principal div{
    margin-bottom:2vh;
}

#titular{
    font-size:8vmin;
    color:whitesmoke;
}
#descripcion{
    /*TODO: Media Queries*/
    font-size:4vmin; 
    color:whitesmoke;  
}

#llamadadeaccion{
    font-size:3vmin;
}

#container{
    background-color: black;
    min-height:40vh;
    display:grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto;

}

@media screen and (max-width:480px) {
    #container {
        display:grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
    }
}

#container h2{
    grid-column: 1 / -1;
    align-self:center;
    text-align:center;
    font-size:5vmin;
    color:white;
}


/*--------Clases definidas--------*/

div.card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid white;
}

div.card p {
    text-align:center;
    font-family:courier;
    color:white;
}

div.card h3{
    color:white;
    font-size:20px;
    padding-bottom:1vh;
    font-family:courier;     
}